In [42]:
import os
import json
import functools
import numpy as np
import pandas as pd
from datetime import datetime

In [43]:
df1 = pd.read_csv(r"D:\test_python\healthscore_master.csv")

In [44]:
df1.head()

,metric_id,metrics,display_names,operating_system_type,feature_name,unique_identifier,metric_nature,level_1,level_2,level_3,...,level_5,hierarchy_id,parent_id_old,metric_sequence_num,metric_seqno,level_no,feature_id,feature_seq_num,parent_id,create_dt
0,1,DR_Visits to Billing Home,Billing Section Visits,Apple iOS,BIL LING,BL,Positive,Billing Section Visits,NaN,NaN,...,NaN,Apple iOS_BL_1,NaN,1,1.0,1.0,1,3,NaN,2025-02-06
1,2,DR_Billing Make a Payment,Make Payments,Apple iOS,BIL LING,BL,Positive,NaN,Make Payments,NaN,...,NaN,Apple iOS_BL_1.1,Apple iOS_BL_1,2,2.0,2.0,1,3,1.0,2025-02-06
2,3,DR_Client Errors on Make Payment,Client Errors on Payment Page,Apple iOS,BIL LING,BL,Negative,NaN,NaN,Client Errors on Payment Page,...,NaN,Apple iOS_BL_1.1.1,Apple iOS_BL_1.1,3,5.0,3.0,1,3,2.0,2025-02-06
3,4,DR_Server Errors on Make Payment,Server Errors on Payment Page,Apple iOS,BIL LING,BL,Negative,NaN,NaN,Server Errors on Payment Page,...,NaN,Apple iOS_BL_1.1.2,Apple iOS_BL_1.1,4,6.0,3.0,1,3,2.0,2025-02-06
4,5,DR_Payment Submit,Payment Submit,Apple iOS,BIL LING,BL,Positive,NaN,Payment Submit,NaN,...,NaN,Apple iOS_BL_1.2,Apple iOS_BL_1,5,3.0,2.0,1,3,1.0,2025-02-06

In [45]:
df1.shape

(714, 21)

In [46]:
df2 = pd.read_csv(r"D:\test_python\containment_master.csv")

In [47]:
# Assuming df is your DataFrame
df2.rename(columns={'hs_feature_name': 'feature_name'}, inplace=True)

In [48]:
df2.head()

,id,feature_name,hs_feature_id,primary_intent,primary_intent_detail,cont_display_metric_name,cont_display_metric_seq,create_dt
0,1,SMART HELP,15,Equipment Support,SmartHelp,Smarthelp_containment_rate,1,2025-02-20
1,2,SMART HELP,15,Equipment Support,PnP,PnP_containment_rate,2,2025-02-20
2,3,BIL LING,1,Billing,Billing Concern,Billing_containment_rate,1,2025-02-20
3,4,BIL LING,1,Billing,Billing General,Billing_containment_rate,1,2025-02-20
4,5,BIL LING,1,Billing,Billing Preferences,Billing_containment_rate,1,2025-02-20

In [49]:
df2.shape

(87, 8)

In [50]:
# Step 1: Create a version of first_df where columns from second_df are null
first_with_nulls = df1.copy()
first_with_nulls['id'] = None
first_with_nulls['hs_feature_id	'] = None
first_with_nulls['primary_intent'] = None
first_with_nulls['cont_display_metric_name'] = None
first_with_nulls['cont_display_metric_seq'] = None
first_with_nulls['create_dt'] = None

In [51]:
first_with_nulls.head()

,metric_id,metrics,display_names,operating_system_type,feature_name,unique_identifier,metric_nature,level_1,level_2,level_3,...,level_no,feature_id,feature_seq_num,parent_id,create_dt,id,hs_feature_id\t,primary_intent,cont_display_metric_name,cont_display_metric_seq
0,1,DR_Visits to Billing Home,Billing Section Visits,Apple iOS,BIL LING,BL,Positive,Billing Section Visits,NaN,NaN,...,1.0,1,3,NaN,None,None,None,None,None,None
1,2,DR_Billing Make a Payment,Make Payments,Apple iOS,BIL LING,BL,Positive,NaN,Make Payments,NaN,...,2.0,1,3,1.0,None,None,None,None,None,None
2,3,DR_Client Errors on Make Payment,Client Errors on Payment Page,Apple iOS,BIL LING,BL,Negative,NaN,NaN,Client Errors on Payment Page,...,3.0,1,3,2.0,None,None,None,None,None,None
3,4,DR_Server Errors on Make Payment,Server Errors on Payment Page,Apple iOS,BIL LING,BL,Negative,NaN,NaN,Server Errors on Payment Page,...,3.0,1,3,2.0,None,None,None,None,None,None
4,5,DR_Payment Submit,Payment Submit,Apple iOS,BIL LING,BL,Positive,NaN,Payment Submit,NaN,...,2.0,1,3,1.0,None,None,None,None,None,None

In [52]:
first_with_nulls.shape

(714, 26)

In [53]:
first_with_nulls.columns

Index(['metric_id', 'metrics', 'display_names', 'operating_system_type',
       'feature_name', 'unique_identifier', 'metric_nature', 'level_1',
       'level_2', 'level_3', 'level_4', 'level_5', 'hierarchy_id',
       'parent_id_old', 'metric_sequence_num', 'metric_seqno', 'level_no',
       'feature_id', 'feature_seq_num', 'parent_id', 'create_dt', 'id',
       'hs_feature_id\t', 'primary_intent', 'cont_display_metric_name',
       'cont_display_metric_seq'],
      dtype='object')

In [54]:
# Step 2: Create a version of second_df where columns from first_df are null
second_with_nulls = df2.copy()
second_with_nulls['metric_id'] = None
second_with_nulls['metrics'] = None
second_with_nulls['display_names'] = None  
second_with_nulls['operating_system_type'] = None
second_with_nulls['unique_identifier'] = None
second_with_nulls['metric_nature'] = None 
second_with_nulls['level_1'] = None
second_with_nulls['level_2'] = None
second_with_nulls['level_3'] = None 
second_with_nulls['level_4'] = None
second_with_nulls['level_5'] = None
second_with_nulls['hierarchy_id'] = None 
second_with_nulls['feature_id'] = None
second_with_nulls['feature_seq_num'] = None
second_with_nulls['parent_id'] = None 
second_with_nulls['create_dt'] = None

In [55]:
second_with_nulls.head()

,id,feature_name,hs_feature_id,primary_intent,primary_intent_detail,cont_display_metric_name,cont_display_metric_seq,create_dt,metric_id,metrics,...,metric_nature,level_1,level_2,level_3,level_4,level_5,hierarchy_id,feature_id,feature_seq_num,parent_id
0,1,SMART HELP,15,Equipment Support,SmartHelp,Smarthelp_containment_rate,1,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,2,SMART HELP,15,Equipment Support,PnP,PnP_containment_rate,2,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,3,BIL LING,1,Billing,Billing Concern,Billing_containment_rate,1,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,4,BIL LING,1,Billing,Billing General,Billing_containment_rate,1,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,5,BIL LING,1,Billing,Billing Preferences,Billing_containment_rate,1,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [56]:
second_with_nulls.shape

(87, 23)

In [57]:
# Step 3: Concatenate both DataFrames
final_result = pd.concat([first_with_nulls, second_with_nulls], ignore_index=True)

C:\Users\gokul.02\AppData\Local\Temp\ipykernel_24788\3287147054.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_result = pd.concat([first_with_nulls, second_with_nulls], ignore_index=True)

In [58]:
final_result.head()

,metric_id,metrics,display_names,operating_system_type,feature_name,unique_identifier,metric_nature,level_1,level_2,level_3,...,feature_seq_num,parent_id,create_dt,id,hs_feature_id\t,primary_intent,cont_display_metric_name,cont_display_metric_seq,hs_feature_id,primary_intent_detail
0,1,DR_Visits to Billing Home,Billing Section Visits,Apple iOS,BIL LING,BL,Positive,Billing Section Visits,NaN,NaN,...,3,NaN,None,None,None,None,None,None,NaN,NaN
1,2,DR_Billing Make a Payment,Make Payments,Apple iOS,BIL LING,BL,Positive,NaN,Make Payments,NaN,...,3,1.0,None,None,None,None,None,None,NaN,NaN
2,3,DR_Client Errors on Make Payment,Client Errors on Payment Page,Apple iOS,BIL LING,BL,Negative,NaN,NaN,Client Errors on Payment Page,...,3,2.0,None,None,None,None,None,None,NaN,NaN
3,4,DR_Server Errors on Make Payment,Server Errors on Payment Page,Apple iOS,BIL LING,BL,Negative,NaN,NaN,Server Errors on Payment Page,...,3,2.0,None,None,None,None,None,None,NaN,NaN
4,5,DR_Payment Submit,Payment Submit,Apple iOS,BIL LING,BL,Positive,NaN,Payment Submit,NaN,...,3,1.0,None,None,None,None,None,None,NaN,NaN

In [59]:
final_result.shape

(801, 28)

In [60]:
final_result.to_csv(r"D:\test_python\hierarchy_table.csv", index = False)